{% extends "base.html" %}
{% load static %}

{% block title %}Schedule{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/schedule.css' %}">
{% endblock %}

{% block content %}
    <div class="main-content">
        <div class="row">
            <h1 class="blank day-title">test</h1>
            <h1 class="day-title">Sunday</h1>
            <h1 class="day-title">Monday</h1>
            <h1 class="day-title">Tuesday</h1>
            <h1 class="day-title">Wednesday</h1>
            <h1 class="day-title">Thursday</h1>
            <h1 class="day-title">Friday</h1>
            <h1 class="day-title">Saturday</h1>
        </div>

        <div class="row">
            <h1 class="time">0600</h1>
            <div class="item"><div class="box"></div></div>
            <div class="item"><div class="box"></div></div>
            <div class="item"><div class="box"></div></div>
            <div class="item"><div class="box"></div></div>
            <div class="item"><div class="box"></div></div>
            <div class="item"><div class="box"></div></div>
            <div class="item"><div class="box"></div></div>
        </div>

        <div class="row">
            <h1 class="time">0700</h1>
            <div class="item">r</div>
            <div class="item">r</div>
            <div class="item">r</div>
            <div class="item">r</div>
            <div class="item">r</div>
            <div class="item">r</div>
            <div class="item">r</div>
        </div>

        <div class="row">
            <h1 class="time">0800</h1>
            <div class="item">r</div>
            <div class="item">r</div>
            <div class="item">r</div>
            <div class="item">r</div>
            <div class="item">r</div>
            <div class="item">r</div>
            <div class="item">r</div>
        </div>

        <div class="row">
            <h1 class="time">0900</h1>
            <div class="item">r</div>
            <div class="item">r</div>
            <div class="item">r</div>
            <div class="item">r</div>
            <div class="item">r</div>
            <div class="item">r</div>
            <div class="item">r</div>
        </div>

        <div class="row">
            <h1 class="time">1000</h1>
            <div class="item">r</div>
            <div class="item">r</div>
            <div class="item">r</div>
            <div class="item">r</div>
            <div class="item">r</div>
            <div class="item">r</div>
            <div class="item">r</div>
        </div>

        <div class="row">
            <h1 class="time">1100</h1>
            <div class="item">r</div>
            <div class="item">r</div>
            <div class="item">r</div>
            <div class="item">r</div>
            <div class="item">r</div>
            <div class="item">r</div>
            <div class="item">r</div>
        </div>

        <div class="row">
            <h1 class="time">1200</h1>
            <div class="item">r</div>
            <div class="item">r</div>
            <div class="item">r</div>
            <div class="item">r</div>
            <div class="item">r</div>
            <div class="item">r</div>
            <div class="item">r</div>
        </div>

        <div class="row">
            <h1 class="time">1300</h1>
            <div class="item">r</div>
            <div class="item">r</div>
            <div class="item">r</div>
            <div class="item">r</div>
            <div class="item">r</div>
            <div class="item">r</div>
            <div class="item">r</div>
        </div>

        <div class="row">
            <h1 class="time">1400</h1>
            <div class="item">r</div>
            <div class="item">r</div>
            <div class="item">r</div>
            <div class="item">r</div>
            <div class="item">r</div>
            <div class="item">r</div>
            <div class="item">r</div>
        </div>

        <div class="row">
            <h1 class="time">1500</h1>
            <div class="item">r</div>
            <div class="item">r</div>
            <div class="item">r</div>
            <div class="item">r</div>
            <div class="item">r</div>
            <div class="item">r</div>
            <div class="item">r</div>
        </div>

        <div class="row">
            <h1 class="time">1600</h1>
            <div class="item">r</div>
            <div class="item">r</div>
            <div class="item">r</div>
            <div class="item">r</div>
            <div class="item">r</div>
            <div class="item">r</div>
            <div class="item">r</div>
        </div>

        <div class="row">
            <h1 class="time">1700</h1>
            <div class="item">r</div>
            <div class="item">r</div>
            <div class="item">r</div>
            <div class="item">r</div>
            <div class="item">r</div>
            <div class="item">r</div>
            <div class="item">r</div>
        </div>

        <div class="row">
            <h1 class="time">1800</h1>
            <div class="item">r</div>
            <div class="item">r</div>
            <div class="item">r</div>
            <div class="item">r</div>
            <div class="item">r</div>
            <div class="item">r</div>
            <div class="item">r</div>
        </div>

        <div class="row">
            <h1 class="time">1900</h1>
            <div class="item">r</div>
            <div class="item">r</div>
            <div class="item">r</div>
            <div class="item">r</div>
            <div class="item">r</div>
            <div class="item">r</div>
            <div class="item">r</div>
        </div>

        <div class="row">
            <h1 class="time">2000</h1>
            <div class="item">r</div>
            <div class="item">r</div>
            <div class="item">r</div>
            <div class="item">r</div>
            <div class="item">r</div>
            <div class="item">r</div>
            <div class="item">r</div>
        </div>

        <div class="row">
            <h1 class="time">2100</h1>
            <div class="item">r</div>
            <div class="item">r</div>
            <div class="item">r</div>
            <div class="item">r</div>
            <div class="item">r</div>
            <div class="item">r</div>
            <div class="item">r</div>
        </div>

        <div class="row">
            <h1 class="time">2200</h1>
            <div class="item">r</div>
            <div class="item">r</div>
            <div class="item">r</div>
            <div class="item">r</div>
            <div class="item">r</div>
            <div class="item">r</div>
            <div class="item">r</div>
        </div>

        <div class="row">
            <h1 class="time">2300</h1>
            <div class="item">r</div>
            <div class="item">r</div>
            <div class="item">r</div>
            <div class="item">r</div>
            <div class="item">r</div>
            <div class="item">r</div>
            <div class="item">r</div>
        </div>
    </div>

    <div class="right-side">
        <button class="button" id="add-button">Add Item</button>
    </div>

    <div class="form" id="event-form">
        <div class="form-content">
            <span class="close">&times;</span>
            <h2>Add Event</h2>
            <form method="POST">
                <label>Title:</label>
                <input type="text" placeholder="Title">

                <section class="date-and-time">
                    <label>Day:</label>
                    <select name="days">
                        <option value="sunday">Sunday</option>
                        <option value="monday">Monday</option>
                        <option value="tuesday">Tuesday</option>
                        <option value="wednesday">Wednesday</option>
                        <option value="thursday">Thursday</option>
                        <option value="friday">Friday</option>
                        <option value="saturday">Saturday</option>
                        <option value="everyday">Everyday</option>
                    </select>

                    <label>Time:</label>
                    <input type="time">
                </section>

                <button class="button" type="submit">Save</button>
            </form>
        </div>
    </div>
    <script>
        const addButton = document.getElementById("add-button");
        const closeForm = document.querySelector(".close");

        addButton.addEventListener("click", function(){
            document.getElementById("event-form").style.display = "flex";
        })

        closeForm.addEventListener("click", function(){
            document.getElementById("event-form").style.display = "none";
        })
    </script>
{% endblock %}
