{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/globals.css' %}">
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <title>Login</title>
</head>
<body>
    <main>
      <div class="overall-container">
        <div class="welcome-container">
          <h2>Welcome to Schedulify. Log in to begin</h2>
          <p>The perfect place to organise your tasks throughout the week</p>
        </div>
        <div class="form-container">
          <h1>Log in</h1>
          <form method="POST">
            {% csrf_token %}
            <input type="text" name="username" placeholder="Username" required id="username">
            <input type="password" name="password" placeholder="Password" required id="password">

            <div class="password-stuff">
              <div class="show-password-container">
                <label for="show-password">Show Password</label>
                <input type="checkbox" name="show-password" id="show-password">
              </div>
  
              <a href="#" class="link">Forgot password</a>
            </div>

            <button type="submit">Log In</button>
          </form>

          <a href="signup/" class="link">Don't have an account? Sign up here</a>
        </div>
      </div>
    </main>

    <script>
      const showPassword = document.getElementById("show-password");
      const password = document.getElementById("password");

      showPassword.onclick = function(){
        if (showPassword.checked){
          password.type = 'text'
        } else {
          password.type = 'password'
        }
      }
    </script>
</body>
</html>