{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/globals.css' %}">
    <link rel="stylesheet" href="{% static 'css/signup.css' %}">
    <title>Sign Up</title>
</head>
<body>
    <main>
      <div class="form-container">
        <h1>Sign Up</h1>
        <form method="POST">
          {% csrf_token %}
          <input type="text" name="username" placeholder="Username" required id="username" class="text-field">
          <input type="email" name="email" placeholder="Email" required id="email" class="text-field">
          <input type="password" name="password" placeholder="Password" required id="password" class="text-field">
          <input type="password" name="confirm-password" placeholder="Confirm Password" required id="confirm-password" class="text-field">
          
          <div class="show-password-container">
            <label for="show-password">Show Password</label>
            <input type="checkbox" name="show-password" id="show-password">
          </div>

          <button type="submit">Sign Up</button>
        </form>

        <a href="/" class="link">Already have an account? Log in here</a>
      </div>
    </main>
    
    <script>
      const showPassword = document.getElementById("show-password");
      const password = document.getElementById("password");
      const confirmPassword = document.getElementById("confirm-password");

      showPassword.onclick = function(){
        if (showPassword.checked){
          password.type = 'text'
          confirmPassword.type = 'text'
        } else {
          password.type = 'password'
          confirmPassword.type = 'password'
        }
      }
    </script>
</body>
</html>